@model List<CommentListViewModel>
@{
    ViewBag.Title = "Product Comments";
}
<div class="container">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-success col-12 text-center">
            @ViewBag.Error
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger col-12 text-center">
            @TempData["ErrorMessage"]
        </div>
    }
    <h2>Product Comments</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Owner</th>
                <th>Product</th>
                <th>Comment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td><i>@(comment.Text)</i></td>
                    <td>@(comment.UserName)</td>
                    <td>@(comment.ProductName)</td>
                    <td>@(comment.CreatedAt.ToLongDateString())</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Comment" asp-action="Approve" asp-route-commentId="@(comment.ProductCommentId)">Approve</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


