@model App.Eticaret.Models.ViewModels.Product.UpdateProductViewModel

<div class="container-fluid">
    <div class="row">
        <h2 class="col-12 text-center">Edit Product</h2>
        @if (ViewBag.Error is not null)
        {
            <div class="alert alert-danger col-12 text-center">
                @ViewBag.Error
            </div>
        }
        else
        {
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success col-12 text-center">
                    @TempData["SuccessMessage"]
                </div>
            }
            <div class="col-12 col-md-6 offset-md-3">
                <form class="row" asp-controller="Product" asp-action="Edit" asp-route-productId="@Model.ProductId" method="post">
                    <div class="form-group col-8">
                        <label asp-for="Name">Product Name</label>
                        <input asp-for="Name" class="form-control" required minlength="2" maxlength="100" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <label asp-for="CategoryId">Category</label><br />
                        <select asp-for="CategoryId" class="form-select w-100" required>
                            @foreach (var cat in ViewBag.Categories)
                            {
                                <option value="@cat.CategoryId">@cat.CategoryName</option>
                            }
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="Details"></label>
                        <input asp-for="Details" class="form-control" maxlength="1000" />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-12">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" type="number" required min="0" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-12">
                        <label asp-for="DiscountId">Discount</label><br />
                        <select asp-for="DiscountId" class="form-select w-100" required>
                            <option value="">Discount</option>
                            @foreach (var dis in ViewBag.Discounts)
                            {
                                <option value="@dis.Id">@dis.Rate</option>
                            }
                        </select>
                        <span asp-validation-for="DiscountId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-12">
                        <label asp-for="StockAmount">Stock Amount</label>
                        <input asp-for="StockAmount" class="form-control" required min="1" />
                        <span asp-validation-for="StockAmount" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between col-6">
                        <button type="submit" class="site-btn mr-auto">Update Product</button>
                    </div>
                    <div class="d-flex justify-content-between col-6">
                        <a class="site-btn mr-auto" asp-controller="Product" asp-action="Delete" asp-route-productId="@Model.ProductId">Delete</a>
                    </div>
                </form>
            </div>
        }
    </div>
</div>
