@model List<App.Admin.Models.ViewModels.Category.CategoryListViewModel>


<div>
    <h2>Product Categories</h2>
    <div class="d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-primary">Create New Category</a>
    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Color</th>
                <th>Icon Css Class</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <div class="color-square" style="background-color:@category.Color"></div>
                        @category.Color
                    </td>
                    <td><i class="@category.IconCssClass"></i></td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-categoryId="@category.CategoryId">Edit</a>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-category-id="@category.CategoryId">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-danger" id="modalDeleteButton">Delete</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(function () {
        $('.btn-danger[data-toggle="modal"]').on('click', function () {
            var categoryId = $(this).data('category-id');
            var deleteUrl = '/categories/' + categoryId + '/delete';
            $('#modalDeleteButton').attr('href', deleteUrl);
        });
    });
</script>